.navBar-container {
    border-bottom: 3px solid $color-primary;
    min-height: 60px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.title-container-brand {
    width: 150px;
}

.title-brand {
    color: $color-white;
    font-weight: 600;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: $color-white;
    background-color: rgb(33,37,41);
    transition: 0.4s;
}

.navbar-btn {
    color: $color-white;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    transition: 0.4s;
}
.navbar-btn:hover {
    color: $color-black;
    background-color: $color-white;
}

.form-control {
    transition:0.4s;
    border-radius: 0;
    padding: 0.3rem;
    font-size:0.9rem;
}

.form-control:focus {
    box-shadow: 0 0 0 .2rem #00d6bd8f;
}



a.dropdown-item {
    padding: 0.3rem;
}