.section-nouveautes {
 text-align: center;
    padding: 1rem;
}

.section-nouveautes h2 {
    color: $color-black;
    font-family: $font-title2;
    letter-spacing: 0.5rem;
    margin: 1rem;
    font-weight: 600;
}