.section {
  text-align: center;
  padding: 1rem;
}
.section:first-of-type {
  border-radius: 1rem 1rem 0 0;
}
.section:last-of-type {
  border-radius: 0 0 1rem 1rem;
}

.section h2 {
  color: $color-black;
  font-family: $font-title;
  letter-spacing: 0.3rem;
  margin: 1rem;
  font-weight: 600;
  text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
}

.category_flex {
  display: flex;
  gap: 1em;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
