@font-face {
  font-family: "font-Michroma";
  src: url(../assets/fonts/BebasNeue-Regular.ttf);

  font-family: "Major Mono Display", monospace;
  @import url(../assets/fonts/MajorMonoDisplay-Regular.ttf);
  @import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
}

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/RobotoCondensed-Regular.ttf);
}

$font-title: "font-Michroma", sans-serif;
$font-typeWriter: "Major Mono Display", monospace;
$font-Roboto: "Roboto", sans-serif;

$color-primary: #00d6bc;
$color-white: rgba(255, 255, 255, 0.7);
$color-grey: #bdbebf;
$color-greydark: #282b2b;
$color-black: #212529;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  user-select: none;
}

body {
  margin: 0 auto;
  margin-top: 60px;
  transition: 0.6s ease-in-out;
  background-color: #f0f0f0;
}

main {
  min-height: 50vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 30px;
}

section {
  background-color: white;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

hr {
  width: 100%;
  border: 0;
  margin: 0 auto;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(0, 0, 0),
    rgba(255, 255, 255, 0)
  );
}

.text-wrap {
  white-space: nowrap !important;
}

