#changeColor {
  background-position: top center;
  transition: 0.8s ease;
}

.slide1 {
  background-image: url("../../../public/img/carousel/slider1.png");
  background-repeat: no-repeat;
  background-position: top center;
}
.slide2 {
  background-image: url("../../../public/img/carousel/slider2.png");
  background-position: top center;
  background-repeat: no-repeat;
}
.slide3 {
  background-image: url("../../../public/img/carousel/slider3.png");
  background-position: top center;
  background-repeat: no-repeat;
}